* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  background-color: #0b2423;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

main {
  display: grid;
  background-color: rgb(253, 242, 228);
  height: 400px;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 50px;
}

button {
  background-color: #5035ff;
  height: 45px;
  width: 100px;
  border-radius: 6px;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
